h1 {
    color: white;
    font-family: 'Gill Sans';
    font-size: 200%;
    padding-top: 50px;
    padding-left: 50px;
  }
  h3 {
    color: whitesmoke;
    font-family: 'Gill Sans';
    font-size: 100%;
    padding-left: 50px;
  }
  th {
    color: white;
    font-family: 'Gill Sans';
    font-size: 150%;
    text-align: center;
    padding: 20px;
  }
  p {
    color: white;
    font-family: Arial;
    padding-left: 50px;
  }
  a {
    color: aqua;
  }
  table {
    padding-left: 40px;
  }